#recieverCam {
    position: absolute;
    top: 10px;
    background-color:white;
    border-radius: 10px;
    z-index: 9;
    text-align: center;
    border: 1px solid #C30760;
    padding: 10px;
    display: none;
}

#senderCam {
    position: absolute;
    top: 10px;
    background-color:white;
    z-index: 9;
    text-align: center;
    border: 1px solid #C30760;
    padding: 10px;
    display: none;
    
}

#senderCam video {
    width: 500px;
}

#recieverCam video {
    width: 500px;
}



#videoDrag {
    background-color: #f1f1f1;
    border: 1px solid #d3d3d3;
    text-align: center;
    height: 30px;
    cursor: move;
    padding-top: 5px;
}

#callerName {
    background-color: #f1f1f1;
    border: 1px solid #d3d3d3;
    text-align: center;
    height: 30px;
    cursor: move;
    padding-top: 5px;
}



#myVideo {
    width: 400px;
    height: 300px;
}

#senderCam {
    position: fixed;
    top: 60px;
    left: 3px;
    background-color:white;
    z-index: 100;
}

#recieverLogin {
    display: none;
}

#callerName {
    font-size: 18px;
    font-weight: bold;
    color: #C30760;
    margin: 10px;
}