<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Test page</title>
        <meta name="name" content="TODO: name">
        <meta name="description" content="TODO: description">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>

    <body>
        <div id="root"> Hello World </div>
        <button id="connectButton"> Connect  </button>
        <script src="/static/dist/index.js"></script>
    </body>
</html>