<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Openvidu sender</title>
        <meta name="name" content="TODO: name">
        <meta name="description" content="TODO: description">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="/static/openvidu.js"></script>
        <script src="/static/socket.io.min.js"></script>
        <link rel="stylesheet" href="/static/video.css">
    </head>

    <body>
        <h1>Openvidu Sender page</h1>

        <div id="senderCam"></div>

       
        <script src="/static/ov/app.js"></script>
        <script>
        //$('#start').on('click', () => {
            window.ovapp.initappSender('woman');
        //})
            
            
        </script>

    </body>
</html>
