<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Test page</title>
        <meta name="name" content="TODO: name">
        <meta name="description" content="TODO: description">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>

    <body>
        <h1>Sender page</h1>

        <p>
            <video autoplay="true" width="200" id="myVideo"></video>
            <button id="getMedia">Get user media</button>
        </p>

        <script src="/static/dist/index.js"></script>
        <script>
            window.myapp.initapp('Dima');
        </script>

    </body>
</html>