<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Test page</title>
        <meta name="name" content="TODO: name">
        <meta name="description" content="TODO: description">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>

    <body>
        <h1>Sender page</h1>


        <!-- 
        <div id="responseBox" style="display: none">
            <h1 id="callerName"><h1>
            <button id="SendOffer">Accept</button>
        </div>
        -->
        <div id="recieverCam"></div>

        <p id="responseBox" style="displ">


            
        </p>

        <script src="/static/dist/index.js"></script>
        <script>
            window.myapp.initappSender('woman');
            
        </script>

    </body>
</html>
